<html th:replace="~{base/base :: layout (~{:: main})}">
  
  <main>
  <section>

     <div class="container" style="width: 60%; padding-bottom: 30px">
     
			<nav style="-bs-breadcrumb-divider: '';" aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px">
					<li class="breadcrumb-item"><a href="./posts">Voltar</a></li>
					<li class="breadcrumb-item active" aria-current="page">Novo Post</li>
				</ol>
			</nav>
			
            <form method="post" action="./new-post" th:object="${postDto}">
                <div class="form-group">
                    <input  th:errorclass="is-invalid" type="text" class="form-control" placeholder="Título *"  th:field="*{titulo}"> 
                     <div class="invalid-feedback" th:errors="*{titulo}">
	                 </div>
                </div>
                <div class="form-group" style="margin-top: 20px">
                    <input  th:errorclass="is-invalid" type="text" class="form-control" placeholder="Autor *"  th:field="*{autor}">
                    <div class="invalid-feedback" th:errors="*{autor}">
	                 </div> 
                </div>
 
                 <div style="margin-top: 20px">
                <textarea th:errorclass="is-invalid" type="text" class="form-control" placeholder="Texto *"  th:field="*{texto}"></textarea>
                 <div class="invalid-feedback" th:errors="*{texto}">
	                 </div>
	             </div>

                <small class="form-text text-muted">(*) Campos obrigatórios</small>
               
                <div class="form-group" style="margin-top: 10px">
                  <input type="hidden" id="id" th:field="*{id}" value=""/>
                  <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
                  <a href="./posts" class="btn btn-secondary" role="button" style="margin-top: 10px;">Cancelar</a>
                </div>
            </form>
        </div>   
        
  </section>
  
   <script>
		$('#summernote').summernote({
			placeholder : 'Texto *',
			tabsize : 2,
			height : 300
		});
	</script>

</main>
  
</html>
