<html th:replace="~{base/base :: layout (~{:: main})}">
  
  <main>
  <section>
     
     <div class="container" style="width: 60%; padding-bottom: 30px">
     
			<nav style="-bs-breadcrumb-divider: '';" aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px">
					<li class="breadcrumb-item"><a href="posts">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Posts</li>
				</ol>
			</nav>
			
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="post : ${posts}">
				<div class="card-body">
				 <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem">
				     <span th:text="${post.autor}"></span>
				     
				     <span th:text="${post.data}"></span>
				 </p> 
				 
				 <a th:href="@{/posts/{id}(id=${post.id})}"><h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;"><span th:text="${post.titulo}"></span></h4></a>
				 
				 <p class="card-text">
				       <span th:text="${#strings.abbreviate(post.texto,400)}"></span>
				 </p>
				 
				</div>
			</div> 
	   </div>
   </section>
   <section>  
     <div class="container" style="width: 60%; padding-bottom: 30px">
        <div class="row" id="about">
            <div class="col-md-4">
                <h2>Sobre</h2>
                <p> A Mycodebolg têm como missão ir além dos blogs comuns, proporcionando uma visão única e acessível sobre as últimas tendências, inovações e histórias cativantes do setor.
                 Acreditamos que a tecnologia tem o poder de transformar vidas, impulsionar negócios e moldar o futuro. </p>
            </div>
            <div class="col-md-4">
                <h2>Contato</h2>
                <p>Entrem em contato com a equipe por email. </p>
                <p><a class="btn btn-primary" href="https://github.com/thiagocsouto" role="button">Details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Beta</h2>
                <p>Todas as novidades do blog serão adicionadas em futuras atualizações na plataforma. A equipe agradece a sua compreenção</p>
            </div>
        </div>	 
	 </div>
   </section>
  </main>
</html>