@charset "UTF-8";

html {
    height: 100%;
    min-height: 100%;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
    color: black;
    background-color: #E5E8E8; 
    text-align: center; 
    font-size: 1.0 em; 
    padding: 10px;
}